<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="spring-boot-app"/>

    <appender name="OTEL" class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">
        <useGlobalOpenTelemetry>true</useGlobalOpenTelemetry>
        <captureExperimentalAttributes>true</captureExperimentalAttributes>
        <captureKeyValuePairs>true</captureKeyValuePairs>
        <captureCodeAttributes>true</captureCodeAttributes>
        <captureMarkerAttributes>true</captureMarkerAttributes>
        <captureContextDataAttributes>true</captureContextDataAttributes>
        <captureMdcAttributes>true</captureMdcAttributes>
    </appender>

    <logger name="io.opentelemetry" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="OTEL"/>
    </root>
</configuration>